In [0]:
print("HelloWorld")

HelloWorld

In [0]:
print("My name is Bob")

My name is Bob

In [0]:
7+2

9

In [0]:
#A string is a sequence of characters that can be processed by a computer. The string is usually stored for manipulation later.
 
#Strings must always begin and end with the same character, this is a requirement. 
#In addition you can use either single or double quotations to signify a string, 
#there is no difference between the two. The quotation marks only serve to inform Python that what's inside of them is a string
"Bob"

'Bob'

In [0]:
"Hello there " + "my name is " + "Bob"

'Hello there my name is Bob'

In [0]:
"Bob"*4

'BobBobBobBob'

In [0]:
"Bob".upper()

'BOB'

In [0]:
#Return the length of the Phrase or the Word 
len("Bobisthegreatestever")

20

In [0]:
#Return the Length of a Phrase or Word
#Each entry in the list of "players" we created above is called a variable. 
#Variables are nothing more than names or titles for a particular set of data so that you can store them and call upon them later. 
#For example, the variable in the tutorial above was "players" because that's what we used to store the names of the players.
players=["bryan","john","chris"]

In [0]:
len(players)

3

In [0]:
#Lets create a new variable on our own 
movie = "Terminator"

In [0]:
#Our variable is "movie" and in that variable we stored the data "Terminator," as you can see.
 
#One thing you'll notice about variables is that the interpreter doesn't return anything once the information is stored. 
#You may be wondering how we know the variable was actually stored?
#You can test this by simply entering "movie" in the interpreter and hitting enter. It should return the data stored in that particular variable, like so:
movie

'Terminator'

In [0]:
#But, let's say we get sick of seeing "Terminator" as the data stored in that variable. We can change this easily.
movie="Cinderella"
movie

'Cinderella'

In [0]:
#You can store just about anything inside a variable, including numbers, equations, and more.
#thing you can do with a programming language is compare sets of data. Let's try that now, using numbers.
7>2

True

In [0]:
9<1

False

In [0]:
6>2*4

False

In [0]:
3==3
#Notice how we used two equal signs (==) to check if sets of data are equal? You must always use two equal signs if that's what you are trying to do
#This is because a single equal sign, or "=" is used to assign a value to a variable.
#In addition, if you want to check whether or not two values are unequal you can use an exclamation mark followed by an equal sign like so: "!="
#If you don't like shellfish - or you're allergic - we apologize. Still, you should be pleased to know that you've completed the basic tutorials!
#If you feel comfortable you can move on to a full-featured tutorial that will walk you through the steps, from beginner to advanced.
#The world is your oyster! Get out there and... well, get out there and shuck it!

True

In [0]:
import keyword

In [0]:
#These keywords may often change as new Python versions are released. A couple things in mind:

#These are fixed and cannot be used as identifiers
#They are case sensitive

keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [0]:
#Indentation is help organize code blocks in Python. And, it is rigidly enforced and makes your code visually scannable.
person= ["Dave","Ben","Emily"]
for x in person:
  if x=="Ben":
    print(x)
  else:
    print("NotBen")
#Notice how the "for" statement has one space(indentation), and how "if" has two.
#That establishes a hierarchy of what's happening within the code.

NotBen
Ben
NotBen

In [0]:
person="John Doe";age=12;location="unknown"

In [0]:
#Lists are collections of items (strings, integers, or even other lists).
#Each item in the list has an assigned index value.
#Lists are enclosed in [ ]
#Each item in a list is separated by a comma
#Unlike strings, lists are mutable, which means they can be changed.
#Lists are created using a comma separated list of values surrounded by square brackets.
#Lists hold a sequence of values (just like strings can hold a sequence of characters). 
#Lists are very easy to create, these are some of the ways to make lists
emptyList = [ ]

In [0]:
list1=['one,two,three,four,five']
list1

['one,two,three,four,five']

In [0]:
numlist=[1,3,5,7,9]
numlist

[1, 3, 5, 7, 9]

In [0]:
mixlist=['yellow','red','blue','green','black']
mixlist

['yellow', 'red', 'blue', 'green', 'black']

In [0]:
list=["1","hello",2,"world"]
len(list)
#list

4

In [0]:
#List append will add the item at the end.
#If you want to add in the beginning you can use "insert" function 
#Inserting "Files" in index 0 in the list variable
list.insert(0,"Files")

In [0]:
list

['Files', '1', 'hello', 2, 'world']

In [0]:
#Inserting "File" in index 1 in the list variable 
list.insert(1,"File")
list

['Files', 'File', '1', 'hello', 2, 'world']

In [0]:
#list.append(x) will add an element to the end of the list
list.append("sreenath")
list

['Files',
 'File',
 '1',
 'hello',
 2,
 'world',
 'sreenath',
 'sreenath',
 'sreenath',
 'sreenath',
 'sreenath',
 'sreenath',
 'sreenath',
 'sreenath']

In [0]:
#The syntax is: list.insert(x, y) 	#will add element y on the place before x
#you can insert a value anywhere in the list
list.insert(3,"Apps")

In [0]:
list

['Files',
 'File',
 '1',
 'Apps',
 'hello',
 2,
 'world',
 'sreenath',
 'sreenath',
 'sreenath',
 'sreenath',
 'sreenath',
 'sreenath',
 'sreenath',
 'sreenath']

In [0]:
#List Remove
#To remove an element's first occurrence in a list, simply use list.remove
#The syntax is: list.remove(x)
List=["Movies","Music","Files","Documents","Pictures"]

List.remove("Pictures")

In [0]:
List

['Movies', 'Music', 'Files', 'Documents']

In [0]:
#List Extend
#combining two lists 
#The syntax is: list.extend(x) 	#will join the list with list x
list2 = ["Music2", "Movies2"]
list1.extend(list2)

In [0]:
list2

['Music2', 'Movies2']

In [0]:
list1

['one,two,three,four,five', 'Music2', 'Movies2']

In [0]:
#Use del to remove item based on index position.
del List[1]
List

['Movies', 'Files', 'Documents']

In [0]:
#The keyword "in" can be used to test if an item is in a list.
list4 = ["red", "orange", "green", "blue"]
if "red" in list4:
    print("Yeah")
    
#Keyword "not" can be combined with "in".

list5 = ["red", "orange", "green", "blue"]
if "purple" not in list5:
    print("Naaa")

Yeah
Naaa

In [0]:
#List Reverse
#The reverse method reverses the order of the entire list.
L1=["One","Two","Three","Four","Five"]
print(L1)

['One', 'Two', 'Three', 'Four', 'Five']

In [0]:
#To print a reverse list 
for i in L1[::-1]:
  print (i)

Five
Four
Three
Two
One

In [0]:
#This is a one liner code to reverse the order 
L = [0,10,20,40]
L.reverse()
L

[40, 20, 10, 0]

In [0]:
#List Sorting
#The easiest way to sort a List is with the sorted(list) function. 
#That takes a list and returns anew list with those elements in sorted order. 
#The original list is not changed. 
#The sorted() function can be customized though optional arguments.
#The sorted() optional argument reverse=True, e.g. sorted(list, reverse=True), makes it sort backwards.
numbers = [5, 1, 4, 3, 2, 6, 7, 9]
print sorted(numbers)

SyntaxError: ignored